.home .block-table {
  font-size: 0;
}

.home .block-table .left-cell, .home .block-table .right-cell {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
}

.home .block-table .left-cell {
  width: 650px;
}

.home .block-table .right-cell {
  width: 320px;
  margin-left: 0;
}

.home a {
  text-decoration: none;
}

.home .table {
  display: table;
  border-spacing: 0 1px;
}

.home .table .tr {
  display: table-row;
}

.home .table .th {
  display: table-cell;
  vertical-align: top;
}

.home .column {
  width: 100%;
}

.home .column .tr-header {
  height: 33px;
  background: #022140 url(../_asset/column-header.jpg) no-repeat left center;
}

.home .column .tr-header .column-title {
  font-size: 16px;
  color: #fff;
  line-height: 33px;
  text-indent: 10px;
  font-weight: bold;
}

.home .main-pic {
  position: relative;
}

.home .main-pic > img {
  display: block;
  width: 100%;
}

.home .main-pic .mask {
  position: absolute;
  top: 175px;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 400px;
  height: 40px;
  padding: 20px 10px;
  font-size: 12px;
  color: #fff;
  line-height: 20px;
}

.home .main-pic .mask span {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.home .main-items {
  font-size: 0;
  margin-top: 10px;
}

.home .main-items .the-item {
  display: inline-block;
  vertical-align: top;
  background: #d2d2d2;
  color: #000;
  padding: 15px 10px;
  width: 135px;
  height: 50px;
  font-size: 12px;
  line-height: 2;
  cursor: pointer;
}

.home .main-items .the-item span {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.home .main-items .the-item.active {
  background: #dfe106;
  position: relative;
}

.home .main-items .the-item.active:before {
  content: '';
  display: block;
  position: absolute;
  top: -12px;
  left: 50%;
  margin-left: -6px;
  border: 6px solid transparent;
  border-bottom-color: #dfe106;
}

.home .main-items .the-item + .the-item {
  margin-left: 10px;
}

.home .home-ranking {
  margin-top: -1px;
}

.home .home-ranking .tr-header .th {
  color: #fff;
}

.home .home-ranking .th {
  font-size: 12px;
  color: #000;
  text-align: center;
  line-height: 31px;
  height: 31px;
}

.home .home-ranking .tr:nth-child(2n) .th {
  background: #d2d2d2;
}

.home .home-ranking .f-th {
  font-size: 0;
  text-align: left;
}

.home .home-ranking .f-th > span {
  font-size: 12px;
  vertical-align: top;
}

.home .home-ranking .rank-num {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
  background: #324b64;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-right: 1px solid #f2f2f2;
  text-align: center;
}

.home .home-ranking .logo {
  padding-left: 5px;
  padding-right: 8px;
  display: inline-block;
  vertical-align: top;
  height: 30px;
  width: 30px;
}

.home .see-more-ranking {
  height: 30px;
  line-height: 30px;
  display: block;
  width: 100%;
  background: #d2d2d2;
  text-align: center;
  font-size: 12px;
  color: #000;
}

.home .home-schedule {
  width: auto;
  margin: 20px 10px 0;
}

.home .home-schedule .tr-header {
  position: relative;
}

.home .home-schedule .schedule-time-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 33px;
  font-size: 0;
  background: #dfe106;
}

.home .home-schedule .schedule-time-container .prev-btn, .home .home-schedule .schedule-time-container .next-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 42px;
  height: 100%;
  background: #dfe106;
}

.home .home-schedule .schedule-time-container .prev-btn:after, .home .home-schedule .schedule-time-container .prev-btn:before, .home .home-schedule .schedule-time-container .next-btn:after, .home .home-schedule .schedule-time-container .next-btn:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  border: 8px solid transparent;
  margin-top: -8px;
}

.home .home-schedule .schedule-time-container .prev-btn:after, .home .home-schedule .schedule-time-container .prev-btn:before {
  border-left: 0;
  margin-left: -6px;
}

.home .home-schedule .schedule-time-container .prev-btn:before {
  border-right-color: #022140;
}

.home .home-schedule .schedule-time-container .prev-btn:after {
  border-right-color: #dfe106;
  margin-left: -4px;
}

.home .home-schedule .schedule-time-container .next-btn:after, .home .home-schedule .schedule-time-container .next-btn:before {
  border-right: 0;
  margin-left: -4px;
}

.home .home-schedule .schedule-time-container .next-btn:before {
  border-left-color: #022140;
}

.home .home-schedule .schedule-time-container .next-btn:after {
  border-left-color: #dfe106;
  margin-left: -6px;
}

.home .home-schedule .schedule-time-container .select-view {
  display: inline-block;
  vertical-align: top;
  height: 31px;
  border: 1px solid #dfe106;
  background: #fff;
}

.home .home-schedule .schedule-time-container .select-view .schedule-trun-select {
  background: transparent;
  font-size: 16px;
  line-height: 31px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  white-space: 0;
  display: inline-block;
  width: 80px;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  color: #022140;
  position: relative;
  z-index: 1;
  padding-right: 12px;
  padding-left: 12px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  text-align: center;
}

.home .home-schedule .schedule-time-container .select-view i.icon-select {
  margin-left: -8px;
  margin-top: 13.5px;
  display: inline-block;
  vertical-align: top;
  border: 4px solid transparent;
  border-bottom: 0;
  border-top-color: #022140;
  position: relative;
  left: -4px;
}

.home .home-schedule .schedule-list {
  margin: 0 -5px;
  font-size: 0;
}

.home .home-schedule .schedule-list .schedule-home-item {
  vertical-align: top;
  display: inline-block;
  width: 188px;
  margin: 10px 5px 0;
}

.home .home-schedule .schedule-list .schedule-home-item .the-header {
  height: 22px;
  background: #fff;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.home .home-schedule .schedule-list .schedule-home-item .the-item {
  margin-top: 1px;
  background: #fff;
  width: 100%;
  display: table;
  padding-top: 7px;
}

.home .home-schedule .schedule-list .schedule-home-item .the-item > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.home .home-schedule .schedule-list .schedule-home-item .the-item > div .score {
  font-size: 22px;
  margin-top: -14px;
}

.home .home-schedule .schedule-list .schedule-home-item .the-item > div .img-container {
  display: block;
  width: 69px;
  height: 69px;
  margin: 0 auto;
}

.home .home-schedule .schedule-list .schedule-home-item .the-item > div .img-container img {
  display: block;
  width: 100%;
  height: 100%;
}

.home .home-schedule .schedule-list .schedule-home-item .the-item > div > span {
  display: block;
  font-size: 12px;
  line-height: 1.5;
}

.home .home-news {
  margin: 20px 10px 0;
  width: auto;
}

.home .home-news .tr-header {
  position: relative;
  margin-bottom: 10px;
}

.home .home-news .tr-header .more {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 10px;
  line-height: 30px;
  height: 33px;
}

.home .home-news .tr-header .more a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
}

.home .home-news .news-content {
  font-size: 0;
}

.home .home-news .left-news {
  position: relative;
  height: 200px;
  width: 650px;
  padding-left: 460px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}

.home .home-news .left-news .pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 444px;
  height: 200px;
}

.home .home-news .left-news .pic img {
  width: 100%;
  height: 100%;
  display: block;
}

.home .home-news .left-news .main-news-title {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  line-height: 1.5;
  max-height: 3em;
  overflow: hidden;
}

.home .home-news .left-news .main-news.-content {
  margin: 1em 0;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  max-height: 9em;
  overflow: hidden;
}

.home .home-news .left-news .see-detail {
  position: absolute;
  bottom: 10px;
  left: 460px;
  color: #022140;
  font-size: 12px;
}

.home .home-news .right-news {
  vertical-align: top;
  display: inline-block;
  width: 310px;
}

.home .home-news .right-news .home-news-list {
  width: 100%;
}

.home .home-news .right-news .home-news-list .home-news-item {
  font-size: 0;
}

.home .home-news .right-news .home-news-list .home-news-item + .home-news-item {
  border-top: 1px dotted rgba(0, 0, 0, 0.5);
}

.home .home-news .right-news .home-news-list .the-title {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 39px;
  height: 39px;
  overflow: hidden;
  color: black;
  width: 260px;
  margin: 0;
}

.home .home-news .right-news .home-news-list .time {
  display: inline-block;
  vertical-align: top;
  line-height: 39px;
  height: 39px;
  font-size: 12px;
  text-align: right;
  color: rgba(0, 0, 0, 0.5);
  width: 50px;
}

.home .home-video {
  margin: 20px 10px 0;
  width: auto;
}

.home .home-video .tr-header {
  position: relative;
  margin-bottom: 10px;
}

.home .home-video .tr-header .more {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 10px;
  line-height: 30px;
  height: 33px;
}

.home .home-video .tr-header .more a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
}

.home .home-video .home-video-list {
  font-size: 0;
  margin: 0 -5px;
  text-align: center;
}

.home .home-video .home-video-list .home-video-item {
  padding: 0 5px;
  width: 25%;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

.home .home-video .home-video-list .home-video-item .pic {
  width: 100%;
  position: relative;
}

.home .home-video .home-video-list .home-video-item .pic img {
  width: 100%;
  height: 100%;
  display: block;
}

.home .home-video .home-video-list .home-video-item .pic .icon-videoplay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 62px;
  height: 32px;
  border-radius: 32px;
  background: rgba(0, 0, 0, 0.7);
  margin-top: -16px;
  margin-left: -31px;
}

.home .home-video .home-video-list .home-video-item .pic .icon-videoplay:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 10px solid #fff;
  border-right: 0;
  margin-left: -5px;
  margin-top: -7px;
  border-radius: 2px;
}

.home .home-video .home-video-list .home-video-item .the-title {
  margin-top: .5em;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 2;
  color: #000;
  text-align: center;
  height: 24px;
  overflow: hidden;
}
