.team-detail-page .content-nav {
  margin: 0 30px;
  font-size: 12px;
}

.team-detail-page .content-nav a {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-decoration: none;
}

.team-detail-page .content-nav .team-name {
  color: #022140;
}

.team-detail-page .detail-header {
  margin: 40px 30px 0;
  background: #e6e6e6;
  padding-right: 400px;
  padding-left: 174px;
  height: 180px;
  position: relative;
}

.team-detail-page .detail-header .team-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 174px;
  height: 180px;
}

.team-detail-page .detail-header .team-logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -43px;
  margin-left: -43px;
}

.team-detail-page .detail-header .home-stadium {
  width: 400px;
  height: 180px;
  position: absolute;
  top: 0;
  right: 0;
}

.team-detail-page .detail-header .home-stadium img {
  width: 100%;
  height: 100%;
  display: block;
}

.team-detail-page .detail-header .team-info {
  width: 100%;
  padding-top: 15px;
  font-size: 0;
}

.team-detail-page .detail-header .team-info .team-name-zh {
  color: #000;
  font-size: 24px;
  line-height: 1.5;
}

.team-detail-page .detail-header .team-info .team-name-en {
  color: #000;
  font-size: 12px;
}

.team-detail-page .detail-header .team-info .stadium, .team-detail-page .detail-header .team-info .establish, .team-detail-page .detail-header .team-info .coach, .team-detail-page .detail-header .team-info .ranking {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  padding-left: 40px;
  height: 30px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  background: no-repeat left center;
  color: #000;
}

.team-detail-page .detail-header .team-info .stadium .name-zh, .team-detail-page .detail-header .team-info .establish .name-zh, .team-detail-page .detail-header .team-info .coach .name-zh, .team-detail-page .detail-header .team-info .ranking .name-zh {
  font-size: 14px;
}

.team-detail-page .detail-header .team-info .stadium .name-en, .team-detail-page .detail-header .team-info .establish .name-en, .team-detail-page .detail-header .team-info .coach .name-en, .team-detail-page .detail-header .team-info .ranking .name-en {
  font-size: 12px;
}

.team-detail-page .detail-header .team-info .stadium .ranking-no, .team-detail-page .detail-header .team-info .establish .ranking-no, .team-detail-page .detail-header .team-info .coach .ranking-no, .team-detail-page .detail-header .team-info .ranking .ranking-no {
  font-size: 30px;
  color: #022140;
  line-height: 30px;
  padding-left: 20px;
}

.team-detail-page .detail-header .team-info .stadium {
  background-image: url(../_asset/stadium.png);
}

.team-detail-page .detail-header .team-info .establish {
  background-image: url(../_asset/establish.png);
}

.team-detail-page .detail-header .team-info .establish .establish-time {
  font-size: 14px;
  line-height: 30px;
}

.team-detail-page .detail-header .team-info .coach {
  background-image: url(../_asset/coach.png);
}

.team-detail-page .detail-header .team-info .ranking {
  background-image: url(../_asset/ranking.png);
}

.team-detail-page .team-detail-schedule {
  margin: 20px 30px 0;
  min-height: 20px;
  overflow: hidden;
}

.team-detail-page .team-detail-schedule .team-detail-schedule-container {
  margin-right: -23px;
}

.team-detail-page .team-detail-schedule .team-detail-schedule-container .schedule-swiper-ctrl {
  margin-top: 20px;
  position: relative;
  height: 20px;
}

.team-detail-page .team-detail-schedule .team-detail-schedule-container .schedule-swiper-ctrl .next-ctrl, .team-detail-page .team-detail-schedule .team-detail-schedule-container .schedule-swiper-ctrl .prev-ctrl {
  position: absolute;
  top: 0;
  width: 460px;
  height: 20px;
  background: #d9d9d9;
}

.team-detail-page .team-detail-schedule .team-detail-schedule-container .schedule-swiper-ctrl .next-ctrl:before, .team-detail-page .team-detail-schedule .team-detail-schedule-container .schedule-swiper-ctrl .next-ctrl:after, .team-detail-page .team-detail-schedule .team-detail-schedule-container .schedule-swiper-ctrl .prev-ctrl:before, .team-detail-page .team-detail-schedule .team-detail-schedule-container .schedule-swiper-ctrl .prev-ctrl:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -2px;
  border: 5px solid transparent;
}

.team-detail-page .team-detail-schedule .team-detail-schedule-container .schedule-swiper-ctrl .prev-ctrl {
  left: 0;
}

.team-detail-page .team-detail-schedule .team-detail-schedule-container .schedule-swiper-ctrl .prev-ctrl:before, .team-detail-page .team-detail-schedule .team-detail-schedule-container .schedule-swiper-ctrl .prev-ctrl:after {
  border-left: 0;
  border-right-color: #022140;
}

.team-detail-page .team-detail-schedule .team-detail-schedule-container .schedule-swiper-ctrl .prev-ctrl:after {
  margin-left: 0;
  border-right-color: #d9d9d9;
}

.team-detail-page .team-detail-schedule .team-detail-schedule-container .schedule-swiper-ctrl .next-ctrl {
  right: 0;
}

.team-detail-page .team-detail-schedule .team-detail-schedule-container .schedule-swiper-ctrl .next-ctrl:before, .team-detail-page .team-detail-schedule .team-detail-schedule-container .schedule-swiper-ctrl .next-ctrl:after {
  border-right: 0;
  border-left-color: #022140;
}

.team-detail-page .team-detail-schedule .team-detail-schedule-container .schedule-swiper-ctrl .next-ctrl:after {
  margin-left: -4px;
  border-left-color: #d9d9d9;
}

.team-detail-page .team-detail-schedule .team-detail-schedule-container .swiper-container {
  width: 100%;
  white-space: nowrap;
  font-size: 0;
}

.team-detail-page .team-detail-schedule .team-detail-schedule-container .schedule-item {
  vertical-align: top;
  display: inline-block;
  width: 298px;
  padding-right: 23px;
}

.team-detail-page .team-detail-schedule .team-detail-schedule-container .schedule-item .the-header {
  height: 40px;
  background: #e4e4e4;
  font-size: 14px;
  line-height: 40px;
  color: #000;
  text-align: center;
}

.team-detail-page .team-detail-schedule .team-detail-schedule-container .schedule-item .the-item {
  background: #fff;
  width: 100%;
  display: table;
  padding: 10px 0;
}

.team-detail-page .team-detail-schedule .team-detail-schedule-container .schedule-item .the-item > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.team-detail-page .team-detail-schedule .team-detail-schedule-container .schedule-item .the-item > div .score {
  font-size: 22px;
  margin-top: -14px;
}

.team-detail-page .team-detail-schedule .team-detail-schedule-container .schedule-item .the-item > div .img-container {
  display: block;
  width: 69px;
  height: 69px;
  margin: 0 auto;
}

.team-detail-page .team-detail-schedule .team-detail-schedule-container .schedule-item .the-item > div .img-container img {
  display: block;
  width: 100%;
  height: 100%;
}

.team-detail-page .team-detail-schedule .team-detail-schedule-container .schedule-item .the-item > div > span {
  display: block;
  font-size: 12px;
  line-height: 1.5;
}

.team-detail-page .team-relative-news {
  margin: 10px 30px 0;
}

.team-detail-page .team-relative-news .relative-news-swiper-ctrl {
  margin-top: 20px;
  position: relative;
  height: 20px;
}

.team-detail-page .team-relative-news .relative-news-swiper-ctrl .next-ctrl, .team-detail-page .team-relative-news .relative-news-swiper-ctrl .prev-ctrl {
  position: absolute;
  top: 0;
  width: 460px;
  height: 20px;
  background: #d9d9d9;
}

.team-detail-page .team-relative-news .relative-news-swiper-ctrl .next-ctrl:before, .team-detail-page .team-relative-news .relative-news-swiper-ctrl .next-ctrl:after, .team-detail-page .team-relative-news .relative-news-swiper-ctrl .prev-ctrl:before, .team-detail-page .team-relative-news .relative-news-swiper-ctrl .prev-ctrl:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -2px;
  border: 5px solid transparent;
}

.team-detail-page .team-relative-news .relative-news-swiper-ctrl .prev-ctrl {
  left: 0;
}

.team-detail-page .team-relative-news .relative-news-swiper-ctrl .prev-ctrl:before, .team-detail-page .team-relative-news .relative-news-swiper-ctrl .prev-ctrl:after {
  border-left: 0;
  border-right-color: #022140;
}

.team-detail-page .team-relative-news .relative-news-swiper-ctrl .prev-ctrl:after {
  margin-left: 0;
  border-right-color: #d9d9d9;
}

.team-detail-page .team-relative-news .relative-news-swiper-ctrl .next-ctrl {
  right: 0;
}

.team-detail-page .team-relative-news .relative-news-swiper-ctrl .next-ctrl:before, .team-detail-page .team-relative-news .relative-news-swiper-ctrl .next-ctrl:after {
  border-right: 0;
  border-left-color: #022140;
}

.team-detail-page .team-relative-news .relative-news-swiper-ctrl .next-ctrl:after {
  margin-left: -4px;
  border-left-color: #d9d9d9;
}

.team-detail-page .team-relative-news .news-container {
  font-size: 0;
  white-space: nowrap;
  overflow: hidden;
}

.team-detail-page .team-relative-news h3 {
  margin: 0;
  font-size: 22px;
  color: #022140;
  line-height: 1.8;
  font-weight: normal;
}

.team-detail-page .team-relative-news .swiper-slide {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

.team-detail-page .team-relative-news .news-item {
  height: 135px;
  position: relative;
  font-size: 0;
  white-space: normal;
}

.team-detail-page .team-relative-news .news-item .pic {
  width: 300px;
  display: inline-block;
  vertical-align: top;
}

.team-detail-page .team-relative-news .news-item .pic img {
  width: 100%;
  height: 100%;
  display: block;
}

.team-detail-page .team-relative-news .news-item .news-info {
  display: inline-block;
  vertical-align: top;
  margin-left: 25px;
  width: 530px;
  max-height: 100%;
}

.team-detail-page .team-relative-news .news-item .news-info h6 {
  font-size: 16px;
  line-height: 2;
  font-weight: normal;
  color: #000;
  margin: 0;
  overflow: hidden;
  max-height: 2em;
}

.team-detail-page .team-relative-news .news-item .news-info p {
  font-size: 12px;
  margin: 15px 0 0;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.8;
  height: 5.4em;
  overflow: hidden;
}

.team-detail-page .team-relative-news .news-item .news-info .tags {
  margin-top: 5px;
  font-size: 12px;
  color: #022140;
  line-height: 1.8;
}

.team-detail-page .team-relative-news .news-item .news-info .tags span {
  display: inline-block;
  vertical-align: top;
}

.team-detail-page .team-relative-news .news-item .news-info .tags span + span {
  padding-left: 10px;
}

.team-detail-page .team-relative-news .news-item .news-right {
  display: inline-block;
  vertical-align: top;
  width: 85px;
  text-align: right;
  max-height: 100%;
}

.team-detail-page .team-relative-news .news-item .news-right .see-news {
  display: block;
  font-size: 12px;
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: #022140;
  text-decoration: none;
}

.team-detail-page .team-relative-news .news-item .news-right .time {
  color: #9a9a9a;
  font-size: 12px;
  line-height: 3;
}

.team-detail-page .team-relative-news .news-item + .news-item {
  border-top: 1px dotted rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  padding-top: 20px;
}

.team-detail-page .team-relative-video {
  margin: 10px 30px 0;
}

.team-detail-page .team-relative-video .relative-video-swiper-ctrl {
  margin-top: 20px;
  position: relative;
  height: 20px;
}

.team-detail-page .team-relative-video .relative-video-swiper-ctrl .next-ctrl, .team-detail-page .team-relative-video .relative-video-swiper-ctrl .prev-ctrl {
  position: absolute;
  top: 0;
  width: 460px;
  height: 20px;
  background: #d9d9d9;
}

.team-detail-page .team-relative-video .relative-video-swiper-ctrl .next-ctrl:before, .team-detail-page .team-relative-video .relative-video-swiper-ctrl .next-ctrl:after, .team-detail-page .team-relative-video .relative-video-swiper-ctrl .prev-ctrl:before, .team-detail-page .team-relative-video .relative-video-swiper-ctrl .prev-ctrl:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -2px;
  border: 5px solid transparent;
}

.team-detail-page .team-relative-video .relative-video-swiper-ctrl .prev-ctrl {
  left: 0;
}

.team-detail-page .team-relative-video .relative-video-swiper-ctrl .prev-ctrl:before, .team-detail-page .team-relative-video .relative-video-swiper-ctrl .prev-ctrl:after {
  border-left: 0;
  border-right-color: #022140;
}

.team-detail-page .team-relative-video .relative-video-swiper-ctrl .prev-ctrl:after {
  margin-left: 0;
  border-right-color: #d9d9d9;
}

.team-detail-page .team-relative-video .relative-video-swiper-ctrl .next-ctrl {
  right: 0;
}

.team-detail-page .team-relative-video .relative-video-swiper-ctrl .next-ctrl:before, .team-detail-page .team-relative-video .relative-video-swiper-ctrl .next-ctrl:after {
  border-right: 0;
  border-left-color: #022140;
}

.team-detail-page .team-relative-video .relative-video-swiper-ctrl .next-ctrl:after {
  margin-left: -4px;
  border-left-color: #d9d9d9;
}

.team-detail-page .team-relative-video .video-container {
  margin-right: -20px;
  font-size: 0;
  white-space: nowrap;
  overflow: hidden;
}

.team-detail-page .team-relative-video h3 {
  margin: 0;
  font-size: 22px;
  color: #022140;
  line-height: 1.8;
  font-weight: normal;
}

.team-detail-page .team-relative-video .swiper-slide {
  width: 300px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}

.team-detail-page .team-relative-video .video-item {
  width: 100%;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

.team-detail-page .team-relative-video .video-item .pic {
  width: 100%;
  position: relative;
}

.team-detail-page .team-relative-video .video-item .pic img {
  width: 100%;
  height: 100%;
  display: block;
}

.team-detail-page .team-relative-video .video-item .pic .icon-videoplay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 62px;
  height: 32px;
  border-radius: 32px;
  background: rgba(0, 0, 0, 0.7);
  margin-top: -16px;
  margin-left: -31px;
}

.team-detail-page .team-relative-video .video-item .pic .icon-videoplay:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 10px solid #fff;
  border-right: 0;
  margin-left: -5px;
  margin-top: -7px;
  border-radius: 2px;
}

.team-detail-page .team-relative-video .video-item .the-title {
  margin-top: .5em;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 2;
  color: #000;
  text-align: center;
  height: 24px;
  overflow: hidden;
}
