.video-detail-page .content-nav {
  margin: 0 30px;
  font-size: 12px;
  position: relative;
}

.video-detail-page .content-nav a {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-decoration: none;
}

.video-detail-page .content-nav .video-name {
  color: #022140;
}

.video-detail-page .content-nav .tags {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  max-width: 50%;
}

.video-detail-page .content-nav .tags .tag-item {
  display: inline-block;
  vertical-align: top;
  width: 94px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #000;
  background: #e4e4e4;
  margin-bottom: 10px;
}

.video-detail-page .content-nav .tags .tag-item + .tag-item {
  margin-left: 10px;
}

.video-detail-page > h1 {
  margin: 30px 30px;
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  line-height: 2;
}

.video-detail-page .video-container {
  margin: 0 30px;
}

.video-detail-page .video-container video {
  display: block;
  margin: 0 auto;
}
