extends ./layout.jade

block style
  link(rel="stylesheet" href="../res/css/schedule.css")

block content
  section
    .section-wrapper
      .schedule-page
        .schedule-header
          a.cur-page(href="/html/schedule.html") 赛程
          a(href="/html/ranking.html") 积分榜